# Compiled class files
*.class

# Build directories
/bin/
/build/
/out/

# Package Files
*.jar
*.war
*.ear

# IDE-specific files
.idea/
.settings/
.classpath
.project

# User-specific configuration files
**/azure_config.properties

# Gradle
.gradle/
